[submodule "pyana/ccsgp"]
	path = pyana/ccsgp
	url = gitlab:ccs-pe-eval/ccsgp.git
[submodule "ccsgp_get_started_data"]
	path = ccsgp_get_started_data
	url = http://gitlab.the-huck.com/github/ccsgp_get_started_data.git
